body {
  font-family: Arial, sans-serif;
  background-color: #267197;
}

#container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

#form {
  background-color: #1b1b86;
  color:rgb(26, 129, 43);
  padding: 20px;
  box-shadow: 0 0 10px #8a2c2c;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #1576a3;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #71d671;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #afd30f;
}

#error {
  color: red;
}   
